<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
</dict>
</plist>
